<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
</dict>
</plist>
